<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENROUTER_API_KEY</key>
	<string>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</string>
</dict>
</plist>
